<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
</dict>
</plist>
